<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />


    <title>柱状图</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 注意：项目正式环境请勿引用该地址 -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">

    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script th:src="@{/echarts.min.js}"></script>
    <script th:src="@{/china.js}"></script>
    <script th:src="@{/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>

</head>
<body>
<!--layui公共模块-->
<div th:include="commonmenu :: menu">

</div>
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
        <div id="main" style="width: 900px;height:600px;"></div>
    </div>
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },

        yAxis: [
            {
                type: 'value'
            }
        ],

    };


    $.ajax({
        url: "/querybar",
        dataType: "json",
        success:function(data) {
            console.log(data);
            myChart.setOption({
                xAxis: [
                    {
                        type: 'category',
                        data: data.cityname,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: 'Direct',
                        type: 'bar',
                        barWidth: '60%',
                        data: data.cityvalue
                    }
                ]

            })
        }
    })
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>